{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>Calories Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{% static "calories/images/cheese-64.png" %}" rel="icon" type="image/png"/>
    <link href="{% static "calories/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "calories/css/calories.css" %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Calories Planner</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#calories">Calories <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#profile">Profile</a></li>
                <li><a href="#logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div id="main-container">
            <p>Loading...</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" data-aria-valuenow="50" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 50%">
                    <span class="sr-only">50% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="panel-footer">
    <div class="container">
        <div class="row">
            Calories Planner. Copyright <a href="http://stasdavydov.com/">Stas Davydov</a> 2015. All rights reserved.
        </div>
    </div>
</footer>
<script type="text/template" id="tpl-login">
    <h2 class="page-header text-center">Login | <a href="#signup">Signup</a></h2>
    <form role="form" class="form-horizontal col-sm-push-4 col-sm-4" data-toggle="validator" id="login-form" class="center-text">
        <div class="form-group">
            <label class="control-label" for="username">{{ login_form.login.label }}:</label>
            {{ login_form.login }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">{{ login_form.password.label }}:</label>
            {{ login_form.password }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <div class="has-error">
                <span class="help-block non-field-error"></span>
            </div>
            <button type="submit" class="btn btn-outline btn-lg btn-block">Login</button>
        </div>
    </form>
</script>

<script type="text/template" id="tpl-signup">
    <h2 class="page-header text-center"><a href="#login">Login</a> | Signup</h2>
    <form role="form" class="form-horizontal col-sm-push-3 col-sm-6" data-toggle="validator" id="signup-form" class="center-text">
        <div class="form-group">
            <label class="control-label" for="id_username">{{ signup_form.username.label }}:</label>
            {{ signup_form.username }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_password1">{{ signup_form.password1.label }}:</label>
            {{ signup_form.password1 }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_password2">{{ signup_form.password2.label }}:</label>
            {{ signup_form.password2 }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_email">{{ signup_form.email.label }}:</label>
            {{ signup_form.email }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <div class="has-error">
                <span class="help-block non-field-error"></span>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-outline btn-lg btn-block">Signup</button>
            </div>
            <div class="col-sm-6">
                <a href="#login" class="btn btn-outline btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="tpl-calories">
    <h2 class="page-header text-center">Calories</h2>

    <form role="form" class="form-inline" data-toggle="validator" id="filter-form">
        {% for field in filter_form %}
            <div class="form-group">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}:</label>
                {{ field }}
                <span class="help-block hidden"></span>
            </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
        <div class="form-group pull-right">
            <a href="#calories/new" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Calories</a>
        </div>
    </form>

    <table id="calories-table" class="table table-hover col-sm-6">
        <thead>
        <tr>
            <th data-sort="string">When&nbsp;</th>
            <th data-sort="string">What&nbsp;</th>
            <th data-sort="int">Cal&nbsp;</th>
            <th data-defaultsort='disabled'></th>
        </tr>
        </thead>
        <tbody class='calories-container'></tbody>
    </table>
</script>

<script type="text/template" id="tpl-user">
    <h2 class="page-header text-center">Profile</h2>

    <form role="form" class="form-horizontal col-sm-6 col-sm-push-3" data-toggle="validator" id="user-form" class="center-text">
        <div class="alert alert-success hidden" role="alert"></div>
        <div class="form-group">
            <label class="control-label" for="{{ profile_form.max_calories_per_day.auto_id }}">{{ profile_form.max_calories_per_day.label }}:</label>
            {{ profile_form.max_calories_per_day }}
            <span class="help-block hidden"></span>
        </div>
        <br/>
        <div class="form-group">
            <label class="control-label" for="{{ profile_form.username.auto_id }}">{{ profile_form.username.label }}:</label>
            {{ profile_form.username }}
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ profile_form.email.auto_id }}">{{ profile_form.email.label }}:</label>
            {{ profile_form.email }}
            <span class="help-block hidden"></span>
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ profile_form.first_name.auto_id }}">{{ profile_form.first_name.label }}:</label>
            {{ profile_form.first_name }}
            <span class="help-block hidden"></span>
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ profile_form.last_name.auto_id }}">{{ profile_form.last_name.label }}:</label>
            {{ profile_form.last_name }}
            <span class="help-block hidden"></span>
        </div>
        <br/>
        <div class="form-group">
            <label class="control-label" for="id_new_password1">New password:</label>
            <input type="password" class="form-control" name="new_password1" id="id_new_password1" value="<%- new_password1 %>" placeholder="Leave blank if don't want to change"/>
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_new_password2">New password (again):</label>
            <input type="password" class="form-control" name="new_password2" id="id_new_password2" value="<%- new_password2 %>" placeholder="Leave blank if don't want to change"/>
            <span class="help-block hidden"></span>
        </div>

        <div class="form-group">
            <div class="has-error">
                <span class="help-block non-field-error"></span>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-outline btn-lg btn-block">Update</button>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-outline btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="tpl-calorie">
    <td data-sort-value="<%- date %> <%- time %>" data-date="<%- date %>" data-time="<%- time %>"><%= get_datetime(date, time) %></td>
    <td><%- text %></td>
    <td><%- calories %></td>
    <td><a href="#calories/edit/<%- id %>" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="#calories/delete/<%- id %>" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
</script>
<script type="text/template" id="tpl-calorie-form">
    <h2 class="page-header text-center"><%= isNew ? 'Add' : 'Edit' %> Calories</h2>

    <form role="form" class="form-horizontal col-sm-6 col-sm-push-3" id="calorie-form" data-toggle="validator">
        <input type="hidden" id="calorie-id" value="<%- id %>"/>
        {% for field in calorie_form %}
            <div class="form-group">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}:</label>
                {{ field }}
                <span class="help-block hidden"></span>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="has-error">
                <span class="help-block non-field-error"></span>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
            </div>
            <div class="col-sm-6">
                <a href="#calories" class="btn btn-outline btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
</script>
<script src="{% static "calories/lib/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "calories/lib/moment.min.js" %}"></script>
<script src="{% static "calories/lib/bootstrap.js" %}"></script>
<script src="{% static "calories/lib/underscore.js" %}"></script>
<script src="{% static "calories/lib/backbone.js" %}"></script>
<script src="{% static "calories/lib/backbone-validation.js" %}"></script>
<script src="{% static "calories/lib/validator.min.js" %}"></script>
<script src="{% static "calories/lib/stupidtable.js" %}"></script>
<script src="{% static "calories/lib/jquery.cookie.js" %}"></script>

<script src="{% static "calories/js/filter.js" %}"></script>
<script src="{% static "calories/js/app.js" %}"></script>
<script src="{% static "calories/js/models/calorie.js" %}"></script>
<script src="{% static "calories/js/models/user.js" %}"></script>
<script src="{% static "calories/js/collections/calories.js" %}"></script>
<script src="{% static "calories/js/views/calorie.js" %}"></script>
<script src="{% static "calories/js/views/calories.js" %}"></script>
<script src="{% static "calories/js/views/form.js" %}"></script>
<script src="{% static "calories/js/views/calorieForm.js" %}"></script>
<script src="{% static "calories/js/views/signupForm.js" %}"></script>
<script src="{% static "calories/js/views/loginForm.js" %}"></script>
<script src="{% static "calories/js/views/userForm.js" %}"></script>
<script src="{% static "calories/js/router.js" %}"></script>
<script>
    $(function () {
        CalorieManager.start();
    });
</script>
</body>
</html>